{% extends "core/base.html" %}

{% block title %}Login | Exam Management System{% endblock %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% block content %}
<div class="container mt-5">
    <h1>Login</h1>
    <form method="post" action="{% url 'core:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" /> 
    </form>
</div>
{% endblock %}
